@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    @font-face {
      font-family: 'morganite';
      src: url('../public/fonts/Morganite-Black.woff2') format('.woff2');
      font-weight: 200;

    }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.technor {
  
font-family: 'Technor', sans-serif;
}
.clashdisplay{
  font-family: 'Clash Display', sans-serif;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
